.link__raya__activa {
  box-sizing: border-box;
  border-bottom: 1px solid #fff; }

.link__raya:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #fff; }

.item {
  position: relative; }
  .item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 20; }

.flechas {
  width: 40px !important;
  height: 50px;
  padding: 2.5em 0;
  background: #000 !important;
  margin: 12em 0; }

.flechas_izquierda {
  -webkit-transform: translateX(-90%);
  -ms-transform: translateX(-90%);
  transform: translateX(-90%); }
  .flechas_izquierda:hover {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

.flechas_derecha {
  -webkit-transform: translateX(90%);
  -ms-transform: translateX(90%);
  transform: translateX(90%); }
  .flechas_derecha:hover {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

.contenido_text {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50 !important; }
  .contenido_text h1 {
    font-size: 10rem; }
  .contenido_text p {
    font-size: 3rem; }
  @media screen and (max-width: 1000px) {
    .contenido_text h1 {
      font-size: 8rem; }
    .contenido_text p {
      font-size: 2rem; } }
