.item {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		margin: auto;
		background: rgba(0,0,0,0.6);
		width: 100%;
		height: 100%;
		z-index: 20;
	}
}

.flechas {
	width: 40px !important;
	height: 50px;
	padding: 2.5em 0;
	background: #000 !important;
	margin: 12em 0;
}

.flechas_izquierda {
	transform: translateX(-90%);
	&:hover {
		transform: translateX(0%);
	}
}

.flechas_derecha {
	transform: translateX(90%);
	&:hover {
		transform: translateX(0%);
	}
}

.contenido_text {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 50 !important;
	h1 {
		font-size: 10rem;
	}
	p {
		font-size: 3rem;
	}

	@media screen and (max-width: 1000px) {
		h1 {	
			font-size: 8rem;
		}
		p {
			font-size: 2rem;
		}
	}
}